# configuration for connecting the project database.
pdb:
  version: 1
  v1:
    db_host: "db.intranet.dccn.nl"
    db_port: 3306
    db_user: "acl"
    db_pass: ""
    db_name: "fcdc"
  v2:
    auth_client_secret: ""
    auth_url: "https://auth-dev.dccn.nl"
    core_api_url: "http://dccn-pl001.dccn.nl:4334/graphql"
# configuration for connecting the filer-gateway service.
filergateway:
  api_key: ""
  api_url: "https://filer-gateway.dccn.nl/v1"
  api_user: "admin"
  api_pass: ""
# configuration for connecting and executing OnTAP commands from the CLI console.
netappcli:
  ssh_host: "irulan-mgmt.dccn.nl"
  vol_name_project: "project"
  svm_name: "fremen"
  export_policy: "fremen-projects"
# configuration for connecting the Orthanc PACS server.
pacs:
  prefixURL: "http://pacs.dccn.nl:8042"
  username: ""
  password: ""
# configuration for connecting the data-streamer service.
streamer:
  prefixURL: "http://pacs.dccn.nl:3001"
  username: ""
  password: ""
# configuration for managing repository data.
repository:
  umap_domains:
    - ru.nl
    - umcn.nl
    - mpi.nl
# configuration for legacy filer volume management via SSH + CLI.
volumeManager:
  managementInterface:
    netApp: "filer-a-mi:22"
    freeNas: "freenas:22"
# configuration for SMTP server connection (for email notification)
smtp:
  host: localhost
  port: 25
  auth_plain_user: ""
  auth_plain_pass: ""
